* {margin:0; padding:0;}

/* Header Section */
header {
    height: 8vh;
    min-height: 50px;
    background: #efecec;
    position: fixed;
    width: 100%;
    z-index: 5000;
}

.nav-bar
{
    list-style: none;
    padding: 0px 20px 0 20px;
}

.nav-bar ul 
{
    text-align: center;
    margin-top: -55px;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px; 
}

.nav-bar li 
{
    display: inline;
    margin-right: 25px;
}

.nav-bar li a 
{
    color: grey;
    text-decoration: none;
    padding: 5px 15px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.logo img {
    padding-left: 8px;
    padding-top: 5px;
    width: 55px;
    height: 45px;
    margin-left: 8px;
    radius: 50%;
}

/* Welcome Section */

#welcome 
{
    height: 100vh;
    background-image: url(../img/hphone.jpg); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#welcome .container h1
{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    color: white;
    position: absolute;
    top: 200px;
    left: 200px;
}

#welcome .container h2 
{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: lighter;
    color: white;
    position: absolute;
    top: 250px;
    left: 200px;
}

#welcome .container h3 
{
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    font-weight: lighter;
    color: white;
    position: absolute;
    top: 325px;
    left: 200px;
}

/* Product Intro Section */

#product-intro
{ 
    height: 45vh;
    width: 100%;

}

.intro-title h1
{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: lighter;
    text-align: center;
    position: relative;
    margin-top: 50px;
    margin-left: 450px;
}
  
.column-container div
{
    column-count: 2;
    display: inline-flex;
    margin: -15px auto;
    padding: 15px;
    top: 10%;
    left: 80%;
    transform: translate(90%,20%);
    -webkit-transform: translate(90%,20%);
    -moz-transform: translate(90%,20%);
    -ms-transform: translate(90%,20%);
    -o-transform: translate(90%,20%);
}

.column-container .column p 
{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    text-align: left;
    margin-top: 5px;
}

/* Product Info Section */

#product-info
{
    height: 100vh;
    width: 100%;
}

.container-product h1
{
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 35px;
    text-decoration: underline;
    text-underline-position: under;
    text-align: center;
}


.container-product .column 
{
    float: left;
    width: 33.33%;
    height: 650px;
    margin-top: 350px;
    top: 50%;
    left: 50%;
    transform: translate(45%,-50%);
    -webkit-transform: translate(45%,-50%);
    -moz-transform: translate(45%,-50%);
    -ms-transform: translate(45%,-50%);
    -o-transform: translate(45%,-50%);
}

.container-product .column h4
{
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    font-size: 16px;
    margin-top: 40px;
    margin-left: 30px;
}

.container-product .column p
{
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    font-size: 16px;
    margin-top: 2px;
    margin-left: 30px;
}

.container-product ul
{
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    font-size: 16px;
    margin-top: 15px;
    margin-left: 75px;
}

.container-product .row:after {
    content: "";
    display: table;
    clear: both;
}

.container-product img
{
    margin-left: 45px;
    height: 320px;
    width: 300px;
}

.container-product h3
{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: lighter;
    text-align: center;
}

.container-product button
{
    font-family: 'Railway', sans-serif;
    font-size: 13px;
    font-weight: bold;
    border: 1.5px solid white;
    border-radius: 40px;
    background: white;
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: 110px;
    padding: 5px 15px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

/* Product Selection - Gallery Section */
.row 
{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column 
{
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img 
{
    margin-top: 8px;
    vertical-align: middle;
}

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}