* {margin:0; padding:0;}

/* Header Section */
header {
    height: 8vh;
    min-height: 50px;
    background: #efecec;
    position: fixed;
    width: 100%;
    z-index: 5000;
}

.nav-bar
{
    list-style: none;
    padding: 0px 20px 0 20px;
}

.nav-bar ul 
{
    text-align: center;
    margin-top: -50px;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px; 
}

.nav-bar li 
{
    display: inline;
    margin-right: 25px;
}

.nav-bar li a 
{
    color: grey;
    text-decoration: none;
    padding: 5px 15px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.logo img {
    padding-left: 8px;
    padding-top: 1em;
    width: 55px;
    height: 45px;
    margin-left: 2em;
    radius: 50%;
}

/* Welcome Section */

#welcome 
{
    height: 100vh;
    background-image: url(../img/hphone.jpg); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#welcome .container h1
{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    color: white;
    position: absolute;
    top: 200px;
    left: 200px;
}

#welcome .container h2 
{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: lighter;
    color: white;
    position: absolute;
    top: 250px;
    left: 200px;
}

#welcome .container h3 
{
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    font-weight: lighter;
    color: white;
    position: absolute;
    top: 325px;
    left: 200px;
}

/* Product Intro Section */

#product-intro
{ 
    height: 40vh;
    width: 100%;

}

.intro-title h1
{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: lighter;
    text-align: center;
    position: relative;
    margin-top: 70px;
    margin-left: 450px;
}
  
.column-container div
{
    display: inline-flex;
    margin: 5px auto;
    padding: 12px;
    top: 10%;
    left: 40%;
    transform: translate(60%,20%);
    -webkit-transform:;
    -moz-transform:;
    -ms-transform:;
    -o-transform:;
}

.column-container .column p 
{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    text-align: left;
    margin-top: 5px;
}

/* Product Info Section */

#product-info
{
    height: 100vh;
    width: 100%;
}

.container-product h1
{
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 35px;
    text-decoration: underline;
    text-underline-position: under;
    text-align: center;
    margin-top:20px;
}


.container-product .column 
{
    float: left;
    width: 33.33%;
    height: 650px;
    margin-top: 400px;
    top: 50%;
    left: 50%;
    transform: translate(15%,-50%);
}

.container-product .column h4
{
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    font-size: 16px;
    margin-top: 40px;
    margin-left: 30px;
}

.container-product .column p
{
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    font-size: 16px;
    margin-top: 2px;
    margin-left: 30px;
}

.container-product ul
{
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    font-size: 16px;
    margin-top: 15px;
    margin-left: 75px;
    line-height: 1.5em;
}

.container-product .row:after {
    content: "";
    display: table;
    clear: both;
}

.container-product img
{
    margin-left: 85px;
    width: 300px;
}

.container-product img:hover
{
    transition: .5s;
    transition-timing-function: ease-in-out;
    transform: scale(1.025);
    -webkit-transform: scale(1.025);
    -moz-transform: scale(1.025);
    -ms-transform: scale(1.025);
    -o-transform: scale(1.025);
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.container-product h3
{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: lighter;
    text-align: center;
}

.container-product button
{
    font-family: 'Railway', sans-serif;
    font-size: 13px;
    font-weight: bold;
    border: 1.5px solid lightgrey;
    border-radius: 40px;
    background: white;
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: 150px;
    padding: 5px 15px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.column button:hover
{
    color: darkslategray;
    transition: .5s ease-in;
    background-color:#D5DBDB;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    border-color: white;
}

.row 
{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column 
{
    flex: 2%;
    max-width: 30%;
    padding: 0 4px;
}

.column img 
{
    margin-top: 8px;
    vertical-align: middle;
}

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

/* Product Selection Section */

#product-selection
{
    height: 45vh;
    width: 100%;
}

#product-selection .intro-title h1 
{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: lighter;
    text-align: center;
    position: relative;
    margin-top: 90px;
    margin-left: 500px;
}

#product-selection .column-container div 
{
    display: inline-flex;
    margin: 5px auto;
    padding: 15px;
    top: 10%;
    left: 40%;
    transform: translate(60%, 30%);
    -webkit-transform: translate(60%, 30%);
    -moz-transform: translate(60%, 30%);
    -ms-transform: translate(60%, 30%);
    -o-transform: translate(60%, 30%);
}

#product-selection .column-container .column p 
{
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    text-align: left;
    
}

/* Video Section */

#video
{
    height: 325vh;
    width: 100%;
    display: flex;
    flex-flow: column;
}

.container-vid .title
{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: black;
    font-weight: lighter;
    text-decoration: underline;
    text-underline-position: under;
    text-align: center;
}

.container-vid .column
{
    max-width: 45%;
    padding: 0 4px;
    margin: 15px 2px;
    height: 700px;
    top: 50%;
    left: 50%;
    transform: translate(10%,10%);
    -webkit-transform: translate(10%,10%);
    -moz-transform: translate(10%,10%);
    -ms-transform: translate(10%,10%);
    -o-transform: translate(10%,10%);
}

.container-vid h1
{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: white;
    margin: 20px 0 0 20px;
}

.container-vid p
{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: white;
    text-align: left;
    margin: 20px;
    padding-top: 45px;
    line-height: 30px;
}

.container-vid h2 
{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    color: white;
    margin: 120px 0 0 20px;
    text-align: center;
}

.container-vid h3 
{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 185px;
    color: white;
    text-align: center;
}

.container-vid a
{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    text-decoration: underline;
    text-underline-position: under;
    color: white;
    margin-left:-125px;
}

.container-vid h4
{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: white;
    text-align: center;
    margin-top: 20px;
}

.container-vid .column button 
{
    font-family: 'Railway', sans-serif;
    font-size: 13px;
    font-weight: bold;
    border: 1.5px solid lightgrey;
    border-radius: 40px;
    background: white;
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: 270px;
    padding: 5px 25px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

/* Contact Section */

.container-contact
{
    height: 95vh;
    width: 100%;
    background: lightgray;
}

.container-contact .column div
{
    float: left;
    width: 15%;
    top: 50%;
    left: 50%;
    transform: translate(5%, -50%);
}

.container-contact .column
{
    padding-left: 25px;
    height: 450px;
    margin-top: 125px;
    top: 50%;
    left: 50%;
    transform: translate(7%, -25%);
}

.container-contact label
{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: slategray;
    margin-left: 35px;
    padding-top: 90px;
    padding-bottom: 25px;
    margin-top: 20px;
}

.container-contact input[type=text]
{
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    font-size: 18px;
    margin-left: 35px;
    margin-top: 5px;
    height: 30px;
    width: 350px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

::placeholder
{
    color: lightgrey;
}

.container-contact input[type=email] 
{
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    font-size: 18px;
    margin-left: 35px;
    margin-top: 5px;
    height: 30px;
    width: 350px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.container-contact input[type=submit]
{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-left: 35px;
    margin-top: 10px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    padding: 5px 25px;
    background-color: slategray;
    color: white;
}

.container-contact input[type=submit]:hover
{
    border: 1.5 solid slategray;
    color: black;
    background: lightgray;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

textarea
{
    font-family: 'Raleway',    sans-serif;
    font-weight: lighter;
    font-size: 18px;
    margin-left: 35px;
    margin-top: 5px;
    height: 150px;
    width: 350px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.container-contact .container-title h1
{
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    text-align: center;
    color: slategray;
    font-size: 50px;
    padding: 80px 0 10px 0px;
}

.container-contact .column img
{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}

.container-contact .column h1
{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 30px;
    margin-top: 45px;
    text-align: center;
}
.container-contact .column p
{
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    color: white;
    font-size: 25px;
    padding: 25px;
    text-align:center;
}

.container-contact button
{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    background: gray;
    font-weight: bold;
    border-radius: 40px;
    height: 35px;
    width: 355px;
    margin-left: 50px;
}

.container-contact button:hover
{
    background: darkgrey;
    color: white;
    transition: .5s ease-in-out;
}
/* Footer */
footer {
    background: darkslategray;
    height: 6vh;
}

.container-footer p {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 10px;
}
